# --- Noyau Django et Base de données ---
Django==6.0.5
asgiref==3.11.1
sqlparse==0.5.5
psycopg2-binary==2.9.12

# --- API REST & Sécurité (JWT) ---
djangorestframework==3.17.1
djangorestframework_simplejwt==5.5.1
PyJWT==2.10.1
django-cors-headers==4.9.0

# --- Utilitaires Django installés ---
django-import-export==4.4.1
django-modeltranslation==0.19.12
django-tinymce==5.0.0
django-cuser==2017.3.16

# --- Outils de production et requêtes ---
gunicorn
requests==2.32.3
urllib3==2.3.0
certifi==2025.1.31
charset-normalizer==3.4.2
idna==3.10